

 <div style="height: 50px;"></div>



 <div  fxLayout="column" fxLayoutAlign="space-between center" style="background-color: white;">



   <div style="margin-top: 1%;width: 85%;" fxFlex="80"  >



   <div style="height: 70px;"></div>
   <div fxLayout="row" >
     <div fxFlex="50">
       <img src="../assets/app1.png" alt="" height="75%" width="70%">

     </div>
     <div fxFlex="50">
       <p style="font-size: 25px;color: #4f7de1;">Sign Now &nbsp;&nbsp;&nbsp;   &#9644;&#9644; </p>
       <p style="font-size:30px ;line-height: 35px;font-family: monospace;"  >
        La plateforme de signature électronique simple, rapide et légale.
       </p>
 <div style="height: 25px;"></div>

       <p style="font-size:20px ;line-height: 25px;font-family:monospace" >
        La façon la plus simple pour signer et faire signer vos document en toute sécurité.       </p>



         <div style="height: 50px;"></div>
         <div fxLayout="row" fxLayoutAlign="start center">
           <button class="button-86"role="button" routerLink="/main" >Commencer<mat-icon>keyboard_arrow_right</mat-icon></button>
           <div style="font-size: 130%;">
             <!-- <a class="savoir"  >En savoir plus &#8594;</a> -->


           </div>


              </div>





     </div>

   </div>








   <div>
    <div >
      <p   style="font-size: 25px;color: #4f7de1;">Comment ça marche ? &nbsp;&nbsp;&nbsp;  &#9644;&#9644;&#9644; </p>
  <div style="height: 25px;"></div>


      <p style="font-size: 30px;line-height: 50px;font-family:monospace">
        Signez un document avec Sign Now ?     </p>
  <div style="height: 25px;"></div>
  <div style="height: 25px;"></div>


    </div>
    <!--  -->
    <div fxLayout="column" fxLayoutAlign="space-around start"  >


<table style="font-family: monospace;"  >
  <tr >
    <td style="width: 20%;" ><img src="../../assets/ab.png" alt=""></td>
    <td><span class="s">&nbsp;&nbsp;<b>Chargez votre document</b></span> <br><br>
      <span>Chargez le document <br> que vous souhaitez signer sur la plateforme Sign Now.</span></td>

  </tr>
  <tr>
    <td  ><img src="../../assets/ab2.png" alt=""></td>
    <td> <span class="s"> <b>&nbsp;&nbsp;Choisissez les signataires</b> </span> <br><br>
     <span> Saisissez les informations des personnes qui <br> vont signer votre document et les emplacements des signatures.</span><br> </td>

  </tr>
  <tr>
    <td ><img src="../../assets/a33.png" alt=""></td>
    <td><span class="s"><b>&nbsp;&nbsp;Signez !</b></span> <br><br>
      <span>Signez votre document ! <br> une invitation de signature sera envoyée aux signataires.</span></td>

  </tr>
</table>
<style>
  span{
    font-family: monospace;
    font-size: 15px;
    text-align: start;

  }
  .s{
    font-size: 20px;

  }
</style>









    </div>

</div>












   <div style="height: 50px;"></div>
   <div style="height: 50px;"></div>

   <mat-divider></mat-divider>
   <div style="height: 50px;"></div>

   <div>
     <p id="t" style="font-size: 25px;color: #4f7de1;">Fonctionalités &nbsp;&nbsp;&nbsp;  &#9644;&#9644;&#9644;  </p>
   <div style="height: 33px;"></div>

     <p style="font-size: 30px;line-height: 40px;font-family: monospace">

      Ce que Sign Now vous offre.     </p>

   </div>





   <div style="height: 50px;"></div>




     <div fxLayoutAlign="space-evenly  none" style="text-align: center;" >
       <div fxFlex="25">
         <img src="../../assets/s sim.png" alt="" height="40%" width="40%">
         <div style="height: 25px;"></div>
         <p style="font-size: 25px;font-weight: bold;font-family: monospace;">Signature simple</p>
         <div style="height: 25px;"></div>
         <p style="font-family:monospace ;font-weight: bold;font-size: 15px;line-height: 40px;">Utilisez nos services de signature électronique sur notre Cloud privé et sécurisé sans aucune installation requise.</p>

       </div>
       <div fxFlex="28" style="font-family:monospace ;">
         <img src="../../assets/sign-simple.png" alt="" height="40%" width="40%">
         <div style="height: 25px;"></div>
         <p style="font-size: 25px;font-weight: bold;font-family: monospace;line-height: px;">Signature qualifiée</p>
         <div style="height: 25px;"></div>

         <p style="font-family:monospace ;font-weight: bold;font-size: 15px;line-height: 40px;">Installez nos solutions de signature électronique dans vos locaux et ayez le contrôle total de votre Data.</p>
       </div>
       <div fxFlex="25">
         <img src="../../assets/dash.png" alt="" height="40%" width="40%">
         <div style="height: 25px;"></div>
         <p style="font-size: 25px;font-weight: bold;font-family: monospace;">Dashboard</p>
         <div style="height: 25px;"></div>

         <p style="font-family:monospace ;font-weight: bold;font-size: 15px;line-height: 40px;">Profitez de nos services de signature électronique Cloud tout en gardant le contrôle total de votre Data.</p>
       </div>
     </div>
     <div style="height: 50px;"></div>


     <div fxLayoutAlign="space-evenly  none" style="text-align: center;" >
      <div fxFlex="25">
        <img src="../../assets/work.png" alt="" height="40%" width="40%">
        <div style="height: 25px;"></div>
        <p style="font-size: 25px;font-weight: bold;font-family: monospace;">WorkFlow</p>
        <div style="height: 25px;"></div>



        <p style="font-family:monospace ;font-weight: bold;font-size: 15px;line-height: 40px;">Utilisez nos services de signature électronique sur notre Cloud privé et sécurisé sans aucune installation requise.</p>

      </div>
      <div fxFlex="28" style="font-family:monospace ;">
         <div style="height: 25px;"></div>

         <img src="../../assets/gest.png" alt="" height="40%" width="40%">
         <p style="font-size: 25px;font-weight: bold;font-family: monospace;">Gestion organisations</p>
         <div style="height: 25px;"></div>

        <p style="font-family:monospace ;font-weight: bold;font-size: 15px;line-height: 40px;">Installez nos solutions de signature électronique dans vos locaux et ayez le contrôle total de votre Data.</p>
      </div>
      <div fxFlex="25">



         <img src="../../assets/fact.png" alt="" height="40%" width="55%">
         <div style="height: 25px;"></div>
         <p style="font-size: 25px;font-weight: bold;font-family: monospace;">Facture électronique</p>
         <div style="height: 25px;"></div>

        <p style="font-family:monospace ;font-weight: bold;font-size: 15px;line-height: 40px;">Profitez de nos services de signature électronique Cloud tout en gardant le contrôle total de votre Data.</p>
      </div>
    </div>


     <div style="height: 75px;"></div>
     <mat-divider></mat-divider>
     <div style="height: 75px;"></div>


    <div>
       <div >
         <p   style="font-size: 30px;color: #4f7de1;">Tarifs &nbsp;&nbsp;&nbsp;  &#9644;&#9644;&#9644; </p>
         <div style="height: 25px;"></div>

         <p style="font-size: 30px;line-height: 50px;font-family:monospace">


           Payez uniquement ce que vous consommez      </p>

     <div style="height: 25px;"></div>
     <div style="height: 25px;"></div>


       </div>
       <!--  -->
       <div fxLayout="colymn" fxLayoutAlign="space-between center" style="text-align:center" >

         <div fxFlex="20" style=" border: 0.1px #000 solid; padding-top: 40px;padding-bottom:30px;" >

           <p style="font-size: 30px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">TND 10</p><br>
           <p style="font-size: 20px ;font-family: monospace;line-height: 25px;">
             Pack de 10 Jetons
           </p><br>

           <p style="font-size: 20px ;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">PACK 10</p>
<br>

           <button   class="button-50" routerLink="/main/Acheter"  mat-button>Acheter</button>


         </div>
         <div fxFlex="20"style=" border: .1px #000 outset; padding-top: 40px;padding-bottom:30px" >
           <p style="font-size: 30px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">TND 17</p><br>

           <p style="font-size: 20px ;font-family: monospace;line-height: 25px;">
             Pack de 20 Jetons
           </p><br>
           <p style="font-size: 20px ;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">PACK 20</p>
<br>
           <button   class="button-50" routerLink="/main/Acheter" mat-button>Acheter</button>

         </div>
         <div fxFlex="20"style="  border:.1px #000 outset; padding-top: 40px;padding-bottom:30px"  >
           <p style="font-size: 30px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">TND 40</p><br>

           <p style="font-size: 20px ;font-family: monospace;line-height: 25px;">
             Pack de 50 Jetons
           </p><br>
           <p style="font-size: 20px ;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">PACK 50</p>
           <br>
           <button  class="button-50" routerLink="/main/Acheter" mat-button>Acheter</button>



         </div>
         <div fxFlex="20"style=" border:.1px  #000 outset; padding-top: 40px;padding-bottom:30px" >
           <p style="font-size: 30px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">TND 75</p><br>

           <p style="font-size: 20px ;font-family: monospace;line-height: 25px;">
             Pack de 100 Jetons
           </p><br>
           <p style="font-size: 20px ;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">PACK 100</p>
<br>
           <button  class="button-50" routerLink="/main/Acheter" mat-button>Acheter</button>

         </div>




       </div>

   </div>

   </div>
   <div style="height: 25px;"></div>
   <!-- <a  class="savoir" style="font-size: 25px;" >En savoir plus &#8594;</a> -->
   <div style="height: 25px;"></div>





   </div>







