<div style="height: 50px;" ></div>
<mat-card style=" text-align:center;  ">













  <mat-form-field appearance="outline"  class="example-full-width"  >
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input >
    <mat-icon matSuffix    >search</mat-icon>

  </mat-form-field>
<!--
<mat-accordion>


  <mat-expansion-panel class="liste" >
    <mat-expansion-panel-header>
      <mat-panel-title>
       Self aware panel
      </mat-panel-title>

     </mat-expansion-panel-header>
       <p>I'm visible because I am open</p>
  </mat-expansion-panel>




  <mat-expansion-panel class="liste"  >
    <mat-expansion-panel-header>
      <mat-panel-title>
       Self aware panel
      </mat-panel-title>

     </mat-expansion-panel-header>
       <p>I'm visible because I am open</p>
  </mat-expansion-panel>




  <mat-expansion-panel class="liste" >
    <mat-expansion-panel-header>
      <mat-panel-title>
       Self aware panel
      </mat-panel-title>

     </mat-expansion-panel-header>
       <p>I'm visible because I am open</p>
  </mat-expansion-panel>




  <mat-expansion-panel class="liste" >
    <mat-expansion-panel-header>
      <mat-panel-title>
       Self aware panel
      </mat-panel-title>

     </mat-expansion-panel-header>
       <p>I'm visible because I am open</p>
  </mat-expansion-panel>




  <mat-expansion-panel class="liste" >
    <mat-expansion-panel-header>
      <mat-panel-title>
       Self aware panel
      </mat-panel-title>

     </mat-expansion-panel-header>
       <p>I'm visible because I am open</p>
  </mat-expansion-panel>



  </mat-accordion> -->













  <div style="height: 80px;" ></div>


  <button (click)="click = !click   " *ngIf="!click">
   maj
  </button>
  <div style="height: 80px;" ></div>



  <div *ngIf="click">
    <h1>  signature</h1>
<button (click)="click = !click">
cancel    </button>










  </div>



















  </mat-card>












  <!-- <div >
    <div _ngcontent-rbd-c125="" class="d-flex justify-content-between bd-highlight footer">
      <div _ngcontent-rbd-c125="" class="p-2 bd-highlight"></div><div _ngcontent-rbd-c125="" class="p-2 bd-highlight">
        <div _ngcontent-rbd-c125="" class="links">
          <span _ngcontent-rbd-c125="" class="custom-media">
            <i _ngcontent-rbd-c125="" class="fas fa-globe">

            </i>
          </span>
          <select _ngcontent-rbd-c125="" class="ng-untouched ng-pristine ng-valid">
            <option _ngcontent-rbd-c125="" value="EN" class="ng-star-inserted"> EN </option>
            <option _ngcontent-rbd-c125="" value="FR" class="ng-star-inserted"> FR </option>

            </select> | <a _ngcontent-rbd-c125="" class="footer-links">
              <span _ngcontent-rbd-c125="" class="cgu-expand">Conditions générales d'utilisation</span>
              <span _ngcontent-rbd-c125="" class="cgu-shrink">CGU</span></a></div></div></div></div >




 -->





