




<div style="height: 50px;" ></div>









<div  >







    <mat-card style=" text-align: center;   ">
      <div style="height: 30px;"></div>
      <img src="../../assets/fd.png" alt="" height="250" width="320">
      <div style="height: 30px;"></div>
      <h1>
        Fonctionnalité non disponible
      </h1>
      <div style="height: 15px;"></div>
      <p>
        Cette fonction n'est pas disponible dans votre abonnement . <br> Veuillez contacter notre équipe de vente pour modifier votre abonnement SIGN-NOW de votre plan.
      </p>
      <div style="height: 20px;"></div>
      <button mat-button  class="btn-achat" routerLink="/main/Contacter" type="button">Contacter Nous</button><br>








            </mat-card>



  </div>

