<div fxLayout="column" fxLayoutAlign="space-between center"
  style="background-color: white">
  <div style="margin-top: 7%; width: 85%" fxFlex="100">
    <div fxLayout="row">
      <div fxFlex="50">
        <p style="font-size: 20px; color: #4f7de1">
          Pircing &nbsp;&nbsp;&nbsp; &#9644;&#9644;&#9644;
        </p>
        <div style="height: 25px"></div>
        <div style="height: 25px"></div>
        <p style="font-size: 200%; line-height: 50px; font-family: monospace">
          Payez uniquement ce que
          <br>
          vous consommez
        </p>
        <div style="height: 50px"></div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>
            <div style="height: 25px"></div>
          </div>
        </div>
      </div>
      <div
        fxFlex="85"
        fxLayout="column"
        fxLayoutAlign="center center"
        style="font-size: 150%;
        margin-top: 50px;
        line-height: 35px;
        font-family: monospace;
        text-align: center;">
        Des packs de Jetons de signature électronique selon le besoin et des
        abonnements pour souscrire aux fonctionnalités avancées.
      </div>
    </div>
    <div>
      <div>
        <div style="height: 25px"></div>
      </div>
      <!--  -->
      <div fxLayout="row" fxLayoutAlign="space-between center"
        style="text-align: center">
        <div fxFlex="20" style="border: 2px #000 outset; padding-top: 25px">
          <p style="font-size: 200%; font-family: monospace">TND 10</p>
          <br>
          <p style="font-size: 20px; font-family: monospace; line-height: 50px">
            10 Jetons
          </p>
          <p style="font-size: 20px; font-family: monospace">PACK 10</p>
          <button routerLink="/main/Acheter" class="button-50" mat-button>
            Acheter
          </button>
        </div>
        <div fxFlex="20" style="border: 2px #000 outset; padding-top: 25px">
          <p style="font-size: 200%; font-family: monospace">TND 25</p>
          <br>
          <p style="font-size: 20px; font-family: monospace; line-height: 50px">
            25 Jetons
          </p>
          <p style="font-size: 20px; font-family: monospace">PACK 25</p>
          <button routerLink="/main/Acheter" class="button-50" mat-button>
            Acheter
          </button>
        </div>
        <div fxFlex="20" style="border: 2px #000 outset; padding-top: 25px">
          <p style="font-size: 200%; font-family: monospace">TND 45</p>
          <br>
          <p style="font-size: 20px; font-family: monospace; line-height: 50px">
            50 Jetons
          </p>
          <p style="font-size: 20px; font-family: monospace">PACK 50</p>
          <button routerLink="/main/Acheter" class="button-50" mat-button>
            Acheter
          </button>
        </div>
        <div fxFlex="20" style="border: 2px #000 outset; padding-top: 25px">
          <p style="font-size: 200%; font-family: monospace">TND 75</p>
          <br>
          <p style="font-size: 20px; font-family: monospace; line-height: 50px">
            100 Jetons
          </p>
          <p style="font-size: 20px; font-family: monospace">PACK 100</p>
          <button routerLink="/main/Acheter" class="button-50" mat-button>
            Acheter
          </button>
        </div>
      </div>
    </div>
    <div style="height: 50px"></div>
    <mat-divider></mat-divider>
    <div style="height: 50px"></div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <p style="font-size: 20px; font-family: monospace">
        Ce qui est inclut avec les packs de signature
      </p>
      <div style="height: 15px"></div>
      <ul style="font-family: monospace;
        font-size: 20px;
        text-align: start;
        line-height: 120%;
        font-weight: bold;">
        <li>&nbsp;Sign Now Dashboard</li>
        <li>&nbsp;Invitation de signature par email</li>
        <li>&nbsp;Invitation de signature en face à face</li>
        <li>&nbsp;Signature simple (horodatage qualifiée et 2FA)</li>
        <li>&nbsp;Signature qualifiée DigiGO</li>
        <li>&nbsp;Signature qualifiée Token USB</li>
        <li>&nbsp;Relance automatique et manuelle</li>
        <li>&nbsp;Support client par email</li>
      </ul>
      <div style="height: 50px"></div>
      <mat-divider></mat-divider>
      <div style="height: 50px"></div>
      <!-- ////////////////////////////////// -->
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        style="background-color: white; width: 100%"
        fxFlex="100">
        <div style="width: 100%" fxFlex="120">
          <div fxLayout="row">
            <div fxFlex="50">
              <p style="font-size: 20px; color: #4f7de1">
                Pircing &nbsp;&nbsp;&nbsp; &#9644;&#9644;&#9644;
              </p>
              <div style="height: 25px"></div>
              <div style="height: 25px"></div>
              <p style="font-size: 200%;
                line-height: 25px;
                font-family: monospace;">
                Fonctionnalités
                <br>
                avancées
              </p>
              <div style="height: 25px"></div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <div></div>
              </div>
            </div>
            <div
              fxFlex="50"
              fxLayout="column"
              fxLayoutAlign="center center"
              style="font-size: 150%;
              margin-top: 50px;
              line-height: 25px;
              font-family: monospace;
              text-align: center;">
              Déverrouillez les fonctionnalités avancées de Sign Now selon vos
              besoins
            </div>
          </div>
          <div>
            <div></div>
            <!--  -->
          </div>
          <div style="height: 25px"></div>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          style="text-align: center"
          fxFlex="85">
          <div fxFlex="40" style="border: 2px #000 outset; padding-top: 25px">
            <p style="font-size: 200%; font-family: monospace">Corparate</p>
            <br>
            <p style="font-size: 20px; font-family: monospace; line-height:
              25px">
              TND 4000
            </p>
            <p style="font-size: 100%; font-family: monospace; line-height:
              25px">
              Gestion des utilisateurs
              <br>
              Jusqu'à 25 utilisateurs
              <br>
              Personnalisation des Emails Support premium
            </p>
            <button routerLink="/main/Contacter" class="button-50" mat-button>
              Contactez-nous
            </button>
          </div>
          <div fxFlex="40" style="border: 2px #000 outset; padding-top: 25px">
            <p style="font-size: 200%; font-family: monospace">Accés API</p>
            <br>
            <p style="font-size: 20px; font-family: monospace; line-height:
              25px">
              Contactez-nous
            </p>
            <p style="font-size: 100%; font-family: monospace">
              Accès aux WS Sign Now
              <br>
              Documentation Support
              <br>
              par Email Sandbox
            </p>
            <br>
            <br>
            <button routerLink="/main/Contacter" class="button-50" mat-button>
              Contactez-nous
            </button>
          </div>
        </div>
        <div style="height: 125px"></div>
        <div>
          <!-- //questions -->
          <div style="text-align: center">
            <p style="font-size: 50px; font-weight: bold; font-family:
              monospace">
              FAB ?
            </p>
            <div style="height: 25px"></div>
            <div style="height: 25px"></div>
            <p style="font-size: 20px; font-weight: 500">
              les questions les plus fréquentes
            </p>
          </div>
          <style>
            mat-panel-title {
              font-size: 15px;
              font-weight: 500;
            }
            mat-panel-title:focus {
              color: #fc0;
              font-weight: bold;
            }
                    </style>
          <div style="height: 25px"></div>
          <div style="height: 25px"></div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <p>Est-ce que les Jetons de signature expirent ?</p>
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <p>Oui. Les packs de signature expirent après une année.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  La signature électronique a-t-elle la mêmes valeur juridique
                  que la signature manuscrite ?
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                Oui ! La valeur juridique de la signature électronique a été
                consacrée en vertu de deux textes législatifs :
                <br>
                <br>
                - La loi n° 2000-57 du 13 juin 2000 modifiant et complétant
                certains articles du Code des Obligations et des Contrats (
                C.O.C );
                <br>
                - La loi n° 2000-83 du 9 aout 2000 relative aux échanges et au
                commerce électronique.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Comment je peux obtenir un certificat de signature
                  électronique en Tunisie ?
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                N’hésitez pas à nous contacter pour vous accompagner dans cette
                procédure.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Est ce que je peux tester gratuitement la signature
                  électronique?
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                Oui ! inscrivez-vous sur Sign Now et vous essayez gratuitement
                la signature électronique avec PlateForme Sign Now.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Pourquoi je vais investir pour remplacer mes documents papiers
                  par des documents électroniques ?
                </mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                La dématérialisation des documents avec la signature
                électronique apporte plusieurs avantages immédiats et évidents :
                <br>
                <br>
                -Gain d’argent (moins de papier à imprimer et moins d’espace
                nécessaire pour les archiver)
                <br>
                -Gain de temps (le document peut étre échangé instantanément,
                pas besoin de se déplacer) et donc encore un gain d’argent !
                <br>
                -Plus de sécurité : des experts vous le confirment. La signature
                électronique est bien plus difficile à falsifier que la
                signature manuscrite (surtout pour les documents de plusieurs
                pages !)
                <br>
                -Possibilité d’offrir des services de vente moderne sur internet
                (souscription en ligne) ou en agence (souscription directement
                sur une tablette par exemple)
                <br>
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
