<div style="height: 50px;"></div>



<div fxLayout="column" fxLayoutAlign="space-between center" style="background-color: white;">



  <div style="margin-top: 1%;width: 85%;" fxFlex="100">


    <div fxLayout="row">

      <div fxFlex="60">



        <div class="tete">
          <p>


            Signez <br>
            vos documents
            ou factures <br>
            à tout moment <br>
            et où que vous
            soyez</p>
        </div>


        <p class="intete">
          La plateforme <span class="titre">SignNow</span>

          vous offre un moyen rapide et facile de signer
          et de signer électroniquement vos document en ligne,générez des accords,
          négociez des contrats juridiquement contraignantessà l'aide d'une application moderne et une API universelle
          en fournissant le service en mode <span>SAAS</span>.

        </p>
        <div style="height: 25px;"></div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button class="button-86" role="button" routerLink="/main">Commencer<mat-icon>
              keyboard_arrow_right</mat-icon></button>
          <!-- <a class="savoir"  >En savoir plus   &nbsp; &#8594;</a> -->

          <div>

            <div style="height: 25px;"></div>

          </div>


        </div>



      </div>
      <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
        <img src="../assets/pre.png" alt="" height="60%" width="75%">
      </div>
    </div>
    <div style="height: 25px;"></div>
    <mat-divider></mat-divider>
    <div style="height: 25px;"></div>
    <div style="height: 70px;"></div>
    <div fxLayout="row">
      <div fxFlex="40">
        <img src="../assets/pre2.png" alt="" height="85%" width="80%">

      </div>
      <div fxFlex="60">
        <p style="font-size: 30px;color: #4f7de1;">Cadre Légal &nbsp;&nbsp;&nbsp; &#9644;&#9644;&#9644; </p>
        <div style="height: 25px;"></div>

        <p
          style="font-size:200% ;line-height: 50px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          Conforme aux normes internationales
        </p>
        <p style="font-size:150% ;line-height: 35px;font-family: monospace">
          Nos solutions respectent les normes internationales de signature électronique. Sign Now est certifiée eIDAS et
          conforme aux normes ETSI .
        </p>
        <div>
          <ul>
            <li>&nbsp;&nbsp;Signature électronique à valeur probante</li>
          </ul>
          <ul>
            <li>&nbsp;&nbsp;Même valeur que la signature manuscrite</li>
          </ul>
          <ul>
            <li>&nbsp;&nbsp;Sécurité renforcée (intégrité, authenticité et non-répudiation)</li>
          </ul>

        </div>
        <div style="height: 50px;"></div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button class="button-86" role="button" routerLink="/main">Commencer<mat-icon>
              keyboard_arrow_right</mat-icon></button>
          <!-- <a class="savoir" style="font-weight: 500;"  >En savoir plus   &nbsp; &#8594;</a> -->

          <div>

            <div style="height: 25px;"></div>

          </div>


        </div>





      </div>

    </div>
    <div style="height: 25px;"></div>
    <mat-divider></mat-divider>
    <div style="height: 25px;"></div>
    <div style="height: 25px;"></div>
    <div style="height: 25px;"></div>
    <div>
      <p   style="font-size: 200%;color: #4f7de1;">Services &nbsp;&nbsp;&nbsp; &#9644;&#9644;&#9644; </p>
      <div style="height: 25px;"></div>
      <div style="height: 25px;"></div>


      <p style="font-size: 30px;line-height: 40px;font-family: monospace">
        Des solutions de confiance électronique qui s'adaptent <br> à vos besoins et vos contraintes
      </p>

    </div>




    <div fxLayoutAlign="space-evenly  none" style="text-align: center;">
      <div fxFlex="30">
        <img src="../assets/cloud.png" alt="" height="70%" width="50%">
        <p style="font-family:monospace ;font-weight:bold">Utilisez nos services de signature électronique sur notre
          Cloud privé et sécurisé sans aucune installation requise.</p>

      </div>
      <!--  -->
      <div fxFlex="30" style="font-family:monospace ;">
        <img src="../assets/db.png" alt="" height="70%" width="70%">
        <p style="font-family:monospace ;font-weight:bold">Installez nos solutions de signature électronique dans vos
          locaux et ayez le contrôle total de votre Data.</p>
      </div>
      <!--  -->
      <div fxFlex="30">
        <img src="../assets/cloudhyb.png" alt="" height="70%" width="90%">
        <p style="font-family:monospace ;font-weight:bold">Profitez de nos services de signature électronique Cloud tout
          en gardant le contrôle total de votre Data.</p>
      </div>
      <!--  -->
    </div>
    <div style="height: 25px;"></div>
    <mat-divider></mat-divider>
    <div style="height: 25px;"></div>
    <div style="height: 25px;"></div>

    <div>
      <div>
        <p style="font-size: 30px;color: #4f7de1;">Tarifs &nbsp;&nbsp;&nbsp; &#9644;&#9644;&#9644; </p>
        <div style="height: 25px;"></div>

        <p
          style="font-size: 40px;line-height: 75px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
          Payez uniquement ce que vous consommez </p>
        <div style="height: 25px;"></div>
        <div style="height: 25px;"></div>


      </div>
      <!--  -->
      <div fxLayout="colymn" fxLayoutAlign="space-between center" style="text-align:center">


        <div fxFlex="20" style=" border: 0.1px #000 solid; padding-top: 40px;padding-bottom: 15px;">

          <p
            style="font-size: 40px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            TND 10</p>
          <p style="font-size: 20px ;font-family: monospace;line-height: 50px;">
            Pack de 10 Jetons
          </p>

          <p
            style="font-size: 20px ;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            PACK 10</p><br>
          <button class="button-50" routerLink="/main/Acheter" mat-button>Acheter</button>


        </div>
        <div fxFlex="20" style=" border: .1px #000 outset; padding-top: 40px;padding-bottom: 15px">
          <p
            style="font-size: 40px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            TND 17</p>

          <p style="font-size: 20px ;font-family: monospace;line-height: 50px;">
            Pack de 20 Jetons
          </p>
          <p
            style="font-size: 20px ;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            PACK 20</p><br>

          <button class="button-50" routerLink="/main/Acheter" mat-button>Acheter</button>

        </div>
        <div fxFlex="20" style="  border:.1px #000 outset; padding-top: 40px;padding-bottom: 15px">
          <p
            style="font-size: 40px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            TND 40</p>

          <p style="font-size: 20px ;font-family: monospace;line-height: 50px;">
            Pack de 50 Jetons
          </p>
          <p
            style="font-size: 20px ;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            PACK 50</p>
          <br>
          <button class="button-50" routerLink="/main/Acheter" mat-button>Acheter</button>



        </div>
        <div fxFlex="20" style=" border:.1px  #000 outset; padding-top: 40px;padding-bottom: 15px">
          <p
            style="font-size: 40px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            TND 75
          </p>

          <p style="font-size: 20px ;font-family: monospace;line-height: 50px;">
            Pack de 100 Jetons
          </p>
          <p
            style="font-size: 20px ;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            PACK 100</p><br>

          <button class="button-50" routerLink="/main/Acheter" mat-button>Acheter</button>

        </div>
      </div>




      </div>


    </div>

  </div>
  <div style="height: 25px;"></div>
  <!-- <a  class="savoir" style="font-size: 25px;" >En savoir plus &#8594;</a> -->
  <div style="height: 25px;"></div>






<!-- <div  fxLayout="column" fxLayoutAlign="none none" style="background-color: gray;  "   >

  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center"  style="background-color:gray ;"  class="tool">

 <div   fxLayoutAlign="start none">
      ETC Tunisie © 2022
    </div>

     <div fxLayout="row" fxLayoutAlign="end none " style="float: right;  "  >
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>facebook</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>linkedin</mat-icon>
            </button>
    </div>
  </mat-toolbar>



</div> -->
