


  <div style="height:50px "></div>



<mat-card>
  <div  fxLayout="column" fxLayoutAlign="space-between center" style="background-color: white;">

    <div style="margin-top: 1%;width: 85%;" fxFlex="100"  >


    <div fxLayout="row"fxLayoutAlign="space-between center" style="text-align: center;">

          <div fxFlex="100" >
            <p style="font-size:40px;color: #4f7de1;">Abonnement prépayé</p>



            <p style="font-size:20px ;line-height: 50px;font-family:  monospace"  >
              Payez uniquement ce que vous consommez

            </p>










           </div>

    </div>





     <div>
        <div >





        </div>
        <!--  -->
        <div fxLayout="row" fxLayoutAlign="space-around center" style="text-align:center; " >



          <mat-card fxFlex="30"style="  border:2px #000 outset; padding-top: 20px;padding-bottom:30px"  >
            <p style="font-size: 20px;font-family:  monospace">TND 9.999</p>

            <p style="font-size: 20px ;font-family: monospace;line-height: 50px;">
             10 Jetons <br>
            </p>
            <p style="font-size: 20px ;font-family:  monospace">PACK 10</p>

            <button  class="button-50" mat-button>Acheter</button>
          </mat-card>



          <mat-card fxFlex="30"style=" border:2px  #000 outset; padding-top: 20px;padding-bottom:30px" >
            <p style="font-size: 20px;font-family:  monospace">TND 24.999</p>
            <p style="font-size: 20px ;font-family: monospace;line-height: 50px;">
               25 Jetons <br>
            </p>
            <p style="font-size: 20px ;font-family:  monospace">PACK 25</p>
            <button  class="button-50" mat-button>Acheter</button>
          </mat-card>



          <mat-card fxFlex="30"style=" border:2px  #000 outset; padding-top: 20px;padding-bottom:30px" >
            <p style="font-size: 20px;font-family:  monospace">TND 74.999</p>
            <p style="font-size: 20px ;font-family: monospace;line-height: 50px;">
              25 Jetons <br>
            </p>
            <p style="font-size: 20px ;font-family:  monospace">PACK 100</p>
            <button  class="button-50" mat-button>Acheter</button>
          </mat-card>


        </div>

        <div style="height: 25px;"></div>


 <div fxLayout="column" fxLayoutAlign="center center" style="text-align:center;width: 50%;margin-left: 30%;line-height: 25px;"  >
      <mat-card    style="  border:2px #000 outset; padding-top: 25px;padding-bottom:25px"  >
        <p style="font-size: 200%;font-family: monospace;">Pack Personnalisé</p>
        <p style="font-size: 100% ;font-family: monospace;line-height: 40px;">
          Discuter avec notre équipe commerciale.
        </p>

        <button  class="button-50" routerLink="/main/Contacter"  mat-button>Contacter nous</button>
      </mat-card>

    </div>

    </div>




    <div fxLayout="row"fxLayoutAlign="space-between center" style="text-align: center;">

      <div fxFlex="100" >

     <div style="height: 50px;"></div>



        <div style=" font-family: monospace"  >

          <ul  style="font-size:150% ;line-height: 30px;font-family: monospace" >
            <li>Chaque signature coutera 1 Jeton</li>
            <li>Un document de (n x signatures) coûtera (n x Jetons)</li>
            <li> Le nombre de documents par transaction n’affecte pas son coût</li>
          </ul>

        </div>










       </div>

</div>




    </div>

    <div  fxLayout="column" fxLayoutAlign="center center" >







    </div>
  </div>


</mat-card>








  <style>
    ul {
  list-style: none;




}


  </style>







