.demo-table {
  width: 100%;
}
.button-85 {
  padding: 0.5em 0.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;

  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #fffb00,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;


  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
th{
  font-size: medium;
  font-weight: bold;
  color: #000;
  font-family: monospace;

}

.mat-column-demo-ID {

  /* border-right: 1px solid currentColor; */
  /* padding-right: 24px; */
  width: 15%;
  text-align: center;
}

.mat-column-demo-role {
  text-align: center;
  width: 22%;


}

.mat-column-demo-rolecode {

  text-align: center;
  width: 22%;
}

.mat-column-demo-action {
  width: 22%;
  text-align: center;

}
.mat-column-demo-delete {
  width: 22%;
  text-align: center;

}





/**/

.button-28 {

  background-color: white;

  border-radius: 5px;

  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  height: 40px;

  outline: none;
  padding-bottom: -20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform;
  font-family: monospace;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fc0;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
