
<mat-dialog-content class="mat-typography">


  <h1  >CONTEXTE LÉGAL ET RÉGLEMENTAIRE</h1>
  <p  >S’adaptant autant se faire que peut à l’utilisation croissante d’internet, le droit tunisien dans sa partie relative à la preuve des écrits a été modifié par la loi n°2000/57 du 13 juin 2000,
    modifiant et complétant certains articles du COC, qui adapte le droit de la preuve aux technologies de l’information et notamment à la Signature Électronique.</p>
  <p  >Désormais, le droit tunisien reconnait que l’écrit sur support électronique est admis comme preuve au même titre que l’écrit sur support papier, sous réserve que puisse
     être dument identifiée la personne dont l’écrit émane et qu’il soit établi que cet écrit est conservé dans des conditions de nature à en assurer l’intégrité.<br  >
     Ainsi la loi susvisée, renforcée par la loi n°2000/83 du 9 aout 2000 relative aux échanges et au commerce électronique reconnaissent que la Signature Électronique a la même valeur juridique
      que la signature manuscrite, à condition que le procédé de signature électronique soit fiable ;de même qu’elles mettent en évidence l’importance de la traçabilité des échanges sous forme électronique,
       l’identification des signataires et le cas échéant leur acceptation préalable à l’utilisation de ces modes de communication et d’échanges de consentement ainsi que la fiabilité technique des procédés
       utilisés.</p>
  <p  >La signature électronique ayant donc valeur légale,  <b>ETC Tunisie</b> offre des services de signature électronique à travers ses produits ; et notamment la plateforme de signature électronique
      <b>Sign Now </b>, et la solution de signature électronique visible QRSecure.</p>
  <h1  >OBJET</h1>
  <p  >Les présentes conditions générales d’utilisation ont pour objet de définir les termes et conditions applicables à la fourniture du service de signature électronique en ligne par  <b>ETC Tunisie</b>,
     aux clients qui souhaitent avoir recours à ce service et qui disposent des habilitations et des équipements techniques nécessaires.</p>

  <h1  >ACCEPTATION</h1>
  <p  >Pour accéder au service, le client doit accepter les présentes conditions générales d’utilisation, disponibles en ligne sur le site <a style="text-decoration: none;" href="https://www.eurotechconseil.com">www.eurotechconseil.com/</a>
     à la date de souscription du service
     et reconnait qu’en utilisant le service   <b>Sign Now </b> dans les conditions définies par les présentes, il déclare les avoir lues et les accepter sans réserve aucune.</p>
  <h1  >SERVICE DE CONSTITUTION ET DE CONSERVATION D’UNE PREUVE ELECTRONIQUE</h1>
  <p  >La signature électronique est un procédé technique permettant de donner aux écrits sur supports électroniques la même valeur qu’aux écrits sur support papier. Ce procédé assure
    l’identification du signataire, l’intégrité du document et manifeste le consentement du signataire au document signé.<br  > Le procédé mis en œuvre permet :<p  >
      La signature électronique est un procédé technique permettant de donner aux écrits sur supports électroniques la même valeur qu’aux écrits sur support papier.
      Ce procédé assure l’identification du signataire, l’intégrité du document et manifeste le consentement du signataire au document signé.<br  > Le procédé mis en œuvre permet :</p>
  <ul  >
    <li  >La création d’un acte original signé électroniquement</li>
    <li  >L’horodatage du document original</li>
    <li  >La création, la transmission, et éventuellement l’archivage du document</li>
  </ul>
  <h1  >ACCES ET UTILISATION DU SERVICE</h1>
  <p  >L’accès et l’utilisation du service de   <b>Sign Now </b>, supposent que le client dispose de la capacité juridique et des habilitations pour s’engager au titre des présentes ; qu’il dispose d’une adresse
     électronique valide, d’un numéro de téléphone personnel actif ainsi que de tous matériels et logiciels nécessaires à la navigation sur le web et à l’ouverture et la sauvegarde des documents
      précontractuels ou contractuels à signer.</p>
   <p  >Pour toute transaction, votre signature sera déclenchée et apposée au moment de votre « clic » sur le bouton « signer », manifestant ainsi votre consentement aux obligations de l’acte signé.
    Une copie de votre document signé électroniquement vous sera envoyé par email.</p>
   <p  >  <b>Sign Now </b> est un service qui fonctionne 7j/7 et 24h/24 ; à l’exception des cas de force majeure ou de difficultés liées à la structure des réseaux de communication.</p>
   <p  >Conformément à la loi  <b>ETC Tunisie</b>, ne saurait être tenue pour responsable de tout préjudice consécutif à une faute du client ou à un événement imprévisible et insurmontable d’un tiers étranger
    à la fourniture du service ou à un cas de force majeure.</p>
   <p  >L’utilisateur s’interdit toute utilisation frauduleuse du service et de manière générale toute activité au moyen du service qui serait en violation des lois et règlements qui lui sont applicables.</p>
   <p  >En toute hypothèse,  <b>ETC Tunisie</b>, ne pourra être tenue responsable des dommages indirects qui pourraient résulter de l’utilisation du site/ou du service.

     c’est-à-dire notamment les pertes d’exploitation et les préjudices commerciaux.</p>
   <h1  >EVOLUTION DU SERVICE</h1>
   <p  >Le service de signature électronique sur app.  <b>Sign Now </b>.com.tn est délivré en <b>mode SaaS (Software As A Service)</b>  : il est susceptible d’être complété, modifié ou remplacé à tout moment en fonction
     des innovations technologiques, des avancées législatives ou encore dans le cadre de mises à jour pour améliorer la performance du service et ses fonctionnalités.</p>
   <p  >Par conséquent et en cas de modification des CGUs, ETC Tunisie s’engage à porter à la connaissance des utilisateurs toute nouvelle version des CGUs et ce par tous moyens.</p>
   <h1  >DONNEES PERSONNELLES</h1>
   <p  >Les informations saisies par le client seront enregistrées au niveau de la plateforme qui garantit leur totale protection et intégrité. Elles pourront donner lieu à l’exercice du droit d’accès
    et de rectification dans les conditions prévues par la loi organique n°2004/63 du 27 juillet 2004 relative à la protection des données à caractère personnel.</p>
   <p  >Les informations transmises ou collectées via la plateforme   <b>Sign Now </b> sont considérées comme confidentielles et ne font l’objet d’aucune communication extérieure,
     hors exception liées aux dispositions légales et réglementaires applicables.</p>
   <h1  >DROITS D’AUTEUR</h1>
   <p  >La reproduction ou représentation intégrale ou partielle des pages, des données et de tout autre élément constitutif du site, par quelque procédé ou support que ce soit est interdite et constitue,
    sans autorisation de l’éditeur, une contrefaçon susceptible de sanction conformément à la loi.</p>
   <h1  >INFORMATIONS TECHNIQUES</h1>
   <p  >IL est rappelé que le secret des correspondances n’est pas garanti sur le réseau et qu’il appartient à chaque utilisateur d’internet de prendre toutes les mesures appropriées de façon à protéger
     ses propres données, sources et logiciels de la contamination d’éventuels virus circulant sur la toile.</p>
   <h1  >INTEGRALITE DES ENGAGEMENTS</h1>
   <p  >Les présentes conditions générales d’utilisation (CGU) constituent la totalité de l’accord passé entre <b>ETC Tunisie</b> et le client pour ce qui concerne l’utilisation du service</p>
   <h1  >REGLEMENT DES LITIGES</h1>
   <p  >En cas de différend naissant à propos des CGU les parties s’obligent à rechercher en 1er lieu la solution à leur problème par toute voie amiable et à collaborer de bonne foi
     en vue de résoudre leur litige.</p>
   <p  >Faute pour les parties d’arriver à une solution à l’amiable, la plus diligente d’entre elles pourra saisir le juge compétent afin de faire trancher le différend conformément au droit tunisien.</p>
   <div   class="clear"></div>








</mat-dialog-content>


<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
