
 .example-full-width{

  font-family: monospace;
  font-weight: bold;
  font-size: 100%;



}
mat-icon{
  color: #fc0;
}


    .btn-btn {

      border: none;
      color: transparent;
      background-color: white;
      color: #fc0;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 22px;
      margin-bottom: 15px;
      transition-duration: 0.2s;
      cursor: pointer;

    }
    .btn-btn:hover {
      background: #fc0;
      color: white;
      outline: none;
      border-color: transparent;
    }




    .btn-log {

      border: none;

      background-color: #fc0;
      color: #000;
      text-align: center;
      text-decoration: none;
      display: inline-block;


      transition-duration: 0.2s;
      width: 100%;



      font-weight: bold;

      outline: none;

      border-color: transparent;
      border-radius: 10px;
      font-family: monospace;

      font-size: 24px;

      padding : 5px;


      cursor: pointer;

    }
    .btn-log:hover {

      color: white;
      outline: none;
      border-color: transparent;
    }
    .a{

      text-decoration: none;
      cursor: pointer;
      color: #000;

    }
    .a:hover{

      text-decoration: dotted;

      color: #fc0;
    }
